* {
    box-sizing: border-box;
  }
  
  body {
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
  }

  a {
    color: #404040;
    text-decoration: none;
  }

  a:hover {
    color: #101010;
  }

  .sidebar {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    text-align: left;
    padding: 15px;
  }

  .sidebar .sidebar-logo {
    width: 80px;
    margin-bottom: 20px;
  }

  .nasigurno-map {
    position: absolute;
    left: 25%;
    width: 75%;
    top: 0;
    bottom: 0;
    height: 100vh !important;
  }

  .heading {
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 30px 0;
  }

  .listings {
    float: left;
    width: 100%;
  }

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}



/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
  text-align: left;
}

.mapboxgl-popup-content h3 {
  background: #9b142b;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 500;
  margin-top: -15px;
  font-size: 14px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.map-inspect-location {
  margin: 0;
  padding: 10px;
}

.map-inspect-location span {
  color: #9b142b;
  font-size: 14px;
  cursor: pointer;
}

.map-inspect-location span:hover {
  text-decoration: underline;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.map-logo {
  position: absolute;
    bottom: 30px;
    right: 20px;
    opacity: .6;
  max-width: 80px;
}


.search-container {
  width: 100%;
    float: left;
}

.listing-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin: 20px 0;
}

.listing h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 30px 0;
}

.listing .button.flex-align-center {
  float: right;

}

